.flex-content {
    display: flex;
}

.task-image {
    margin-right: 30px;
}

.container {
    width: 100%;
}

.card-header {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.description {
    margin-bottom: 10px;
}

.align-right {
    text-align: right;
}

.clickable {
    cursor: pointer;
}